body{
    margin: 0px;
    background-image: url(source/acc.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}
.accmain{
    background-color: rgba(255, 255, 255, 0.123);
    box-shadow: 0 0 20px white;
    border-radius: 20px;
}
.mister img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    float: right;
}
#btnlogout{
    text-align: center;
    font-size: 2em;
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}
#meme{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    font-size: 4em;
    color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
    right: 0;
    text-shadow: 0 0 10px white;
}